html {
    font-size: 14px;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #444444;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #222222;
}

h1,
h2 {
    color: navy;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: rgb(3, 3, 157);
}

a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#nav-bar {
    padding: 20px;
    margin: 0;
    background-color: rgb(1, 1, 57);
}

#banner {
    width: 100%;
    height: 150;
    object-fit: cover;
}

.wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px;
}

#about {
    max-width: 500px;
    margin: 0 auto;
}
#team {
    max-width: 100%;
    height: 80;
    border-radius: 10px;
}

#jobs{
    display: none;
}


#jobs-list{
    display: block;
}

.job{
    border: 1px solid #898989;
    margin-top:8px;
    border-radius: 10px;
    padding: 8px;
}

.job-title{
    font-size:1.25rem;
    color:#222222;
    font-weight: 500;
}

.job-detail{
    margin-top:4px;
    color:#555;
}


.application{
    max-width: 300px;
    margin: 0 auto;
    padding: 10 8px;
}


#application-form input,select{
    padding: 6px;
    font-size: 1.01rem; 
    margin-top: 6px;
    border-radius: 5px;
    border: 1px solid gray;
}

#application-form label{
    font-weight:500;
}

#form-group{
    margin: 16px 0px;
}

#form-group textarea{
    width: 70%;
    border-radius: 5px;
    font-family: 'Roboto';
}

#form-group input[type="checkbox"]{
    height: 7px;
    width: 7px;
    
}

#form-group input[type="submit"]{
    background-color: rgb(1, 1, 57);
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    cursor:pointer;
}


#footer{
    background-color: rgb(1, 1, 57);
    color: white;
    text-align: center;
    padding: 20px;
    max-width:100%  ;
}

#footer-links{
    list-style: none;
    color: #ffffff;
}

#footer-links li{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 0 30px;
}

#copyright{
    color:pink;
    font-size: 0.6rem;
    
}

#special-link a {
    color: #ffffff;
    text-decoration: none; 
    padding: 5px;
}





@media screen and (min-width:576px) {
    html {
        font-size: 16px;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 1.4rem;
        color: #444444;
    }
    

    #banner {
        width: 100%;
        height: 200;
        object-fit: cover;
    }

    h1 {
        margin: 16px 0;
    }

    .wrapper {
        max-width: 600px;
        margin: 0 auto;
        padding: 0 10px;
        box-sizing: border-box;
    }

    #about {
        
        max-width: 600px;
        margin: 0 auto;
        box-sizing: border-box;
        font-size: 1.02rem;
    }

    #team {
        max-width: 100%;
        height: 80px;
        border-radius: 10px;
    }
    

    #abt-desc,
    #abt-team {
        padding: 10px;
    }

    #jobs {
        max-width: 700px;
        margin: 0 auto;
        padding: 10 8px;
    }

    #jobs-table{
        width: 100%;
        border: 1px solid rgb(101, 101, 101); 
        border-collapse: collapse;
        
    }
    
    #jobs-list{
        display: none;
    }
    .jobs-header-row th{
        border: 1px solid black;
        padding:8px;
        background-color: rgb(223, 240, 255);
        text-align: left; 
    }
    

    
.application{
    max-width: 200px;
    margin: 0 50px;
    /* margin-right:50px; */
}


#application-form input,select{
    padding: 6px;
    font-size: 1.0rem; 
    margin-top: 6px;
    border-radius: 5px;
    border: 1px solid gray;
}

#application-form label{
    font-weight:500;
}

#form-group{
    margin: 16px 0px;
}

#form-group textarea{
    width: 80%;
    border-radius: 5px;
    font-family: 'Roboto';
}

#form-group input[type="checkbox"]{
    height: 16px;
    width: 16px;
    
}

#form-group input[type="submit"]{
    background-color: rgb(1, 1, 57);
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    cursor:pointer;
}

}

@media screen and (min-width:768px) {
    html {
        font-size: 16px;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        color: #444444;
    }

    #banner {
        width: 100%;
        height: 300px; /* Added px */
        object-fit: cover;
    }

    h1 {
        margin: 20px 0;
    }

    .wrapper {
        max-width: 1400px;
        max-height: 1000px;
        margin: 0 auto;
        padding: 0 10px;
        box-sizing: border-box;
    }

    #about {
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
        font-size: 1.02rem;
    }

    #abt-desc,
    #abt-team {
        width: 50%;
        box-sizing: border-box;
        padding: 10px;
    }

    #team {
        max-width: 100%;
        height: 270px;
        border-radius: 10px;
        margin-left: 100px;
    }

    #jobs-list{
        display: block;
    }

    #jobs {
        max-width: 1000px;
        margin: 0 auto;
        padding: 10px 8px;
    }

    #jobs-table {
        display: table; /* Show table */
        width: 100%;
        border: 1px solid gray; 
        border-collapse: collapse;
    }

    .jobs-header-row th {
        border: 1px solid black;
        padding: 8px;
        background-color: rgb(223, 240, 255);
        text-align: left;
    }

    .jobs-data-row td {
        border-right: 1px solid black;
        padding: 8px;
    }

    #jobs-table tr:nth-child(odd) {
        background-color: rgb(223, 240, 255);
    }

    .application {
        max-width: 900px;
        margin: 0 auto;
        padding: 10px 8px;
    }

    #application-form input, select {
        padding: 6px;
        font-size: 1rem;
        margin-top: 6px;
        border-radius: 5px;
        border: 1px solid gray;
    }

    #application-form label {
        font-weight: 500;
    }

    #form-group {
        margin: 16px 0px;
    }

    #form-group textarea {
        width: 80%;
        border-radius: 5px;
        font-family: 'Roboto';
    }

    #form-group input[type="checkbox"] {
        height: 16px;
        width: 16px;
    }

    #form-group input[type="submit"] {
        background-color: rgb(1, 1, 57);
        color: white;
        padding: 8px 16px;
        border-radius: 2px;
        border: none;
        cursor: pointer;
    }
}